.coder-image {
    display: flex;
    justify-content: space-between; 
    /* padding:20px; */
  }
  
  .entry {
    width: 50%; 
    /* background-color: pink; */
    display: flex;
    justify-content: center;
    
  }
  
  .entry h1 {
    margin-bottom: 20px; 
  }
  

  .entry img {
    max-width: 100%;
    height: auto; 
  }
  

  .solverButton {
    background-color: #3949ab; /* Navy blue background */
    border: none; /* No border */
    border-radius: 20px; /* Rounded corners */
    padding: 10px 20px; /* Padding */
    margin-top: 40px; /* Top margin */
    display: block; /* Block-level element */
    margin: 0 auto; /* Center horizontally */
    color: #fff; /* White text */
    font-size: 16px; /* Font size */
    font-weight: bold; /* Bold font weight */
    text-transform: uppercase; /* Uppercase text */
    text-decoration: none; /* No underline */
    cursor: pointer; /* Pointer cursor */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Shadow */
    transition: background-color 0.3s, transform 0.2s, box-shadow 0.3s; /* Transition effects */
  }
  
  .solverButton:hover {
    background-color: #5c6bc0; /* Lighter navy blue on hover */
    transform: scale(1.04); /* Slightly larger size on hover */
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3); /* Larger shadow on hover */
  }
  
  
  

  .tagline {
    font-family: 'Abril Fatface', cursive;
    padding: 40px;
    margin: auto;
    margin-left: 85px;
    color: #1C2541;
    font-size: 48px;
    font-weight: 500;
    display: inline-block;
    border-bottom: 3px solid #FF5733;
    width: 70%;
    opacity: 0; /* Start with zero opacity */
    transform: scale(0.5); /* Start with smaller size */
    animation: revealText 1s ease forwards;
  }
  
  @keyframes revealText {
    0% {
      opacity: 0; /* Start with zero opacity */
      transform: scale(0.5); /* Start with smaller size */
    }
    100% {
      opacity: 1; /* End with full opacity */
      transform: scale(1); /* End with original size */
    }
  }
  


.description {
    margin-left:80px;
    font-family: 'Pacifico', cursive;
    font-size: 18px;
    margin-right: 70px;
}
.oneliner{
    font-size:20px;
    color:#522B47;
}

