.headerf {
    position: relative;
    height: 50px; /* Adjust height as needed */
    background-color: rgb(249, 246, 246);

    box-shadow: 0 0 5px grey;
  }
  
  .logo {
    /* Your logo styles */
  }
  
  .auth-buttons {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    height: 100%;
  }
  
  .login-button, .signup-button {
    /* background-color: #007bff; Blue  */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 15px;
    color: grey;
    cursor: pointer;
    /* padding-top: 2px;
    padding-bottom: 2px; */
    font-size: 20px;
    font-family: Arial, sans-serif;
    margin-left: 10px; /* Add some space between buttons */
  }
  
  .or{
    font-family: Arial, sans-serif;
    font-size: 14px;
    color:grey;
  }

  .login-button:hover, .signup-button:hover {
    /* background-color: #45a049; Darker green */
    color:black;
  }

  .signup-button{
    margin-right: 40px;
  }



  .contribute{
    color:grey;
    margin-right:50px;
    border-radius: 20px;
    
    box-shadow: 0 0 5px green;
    padding:5px;
  }
  .contribute:hover{
    color:black;
    margin-right:50px;
    border-radius: 20px;
    /* border:1px solid black; */
    padding:5px;
  }
  