.headerf {
  position: relative;
  height: 50px;
  background-color: rgb(249, 246, 246);
  box-shadow: 0 0 5px grey;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px; /* Add some padding to the sides */
}

.logo_banner {
  height: 100%;
  max-height: 40px; /* Adjust as needed */
}

.auth-buttons {
  display: flex;
  align-items: center;
}

  .auth-buttons {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    height: 100%;
  }
  

  
  .login-button, .signup-button  , .logout-button {
    /* background-color: #007bff; Blue  */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 15px;
    color: rgb(162, 161, 161);
    cursor: pointer;
    /* padding-top: 2px;
    padding-bottom: 2px; */
    font-size: 20px;
    font-family: Arial, sans-serif;
    margin-left: 10px; /* Add some space between buttons */
  }
  
  .or{
    font-family: Arial, sans-serif;
    font-size: 14px;
    color:rgb(166, 163, 163);
  }

  .login-button:hover, .signup-button:hover , .logout-button:hover {
    /* background-color: #45a049; Darker green */
    color:black;
    transition: color 0.4s;
  }
  
  .signup-button{
    margin-right: 40px;
  }

  
  
  .contribute{
    color:grey;
    margin-right:50px;
    border-radius: 20px;
    font-family: Arial, sans-serif;
    box-shadow: 0 0 5px grey;
  
    letter-spacing: 1px;
    
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 4px;
    padding-bottom: 4px;
  }
  .contribute:hover{
    color:black;
    padding-left: 5px;
    padding-right: 5px;
    margin-right:50px;
    border-radius: 20px;
    transition: color 0.5s;
    padding-top: 4px;
    padding-bottom: 4px;

  }
  
  .logout-message {
    color: white;
    background-color: #f76e56; 
    padding: 10px 20px; /* Add padding */
    border-radius: 5px; /* Add border radius */
    margin-right: 20px;
    opacity: 1; /* Set opacity to 1 by default */
    transition: opacity 0.8s ease-in-out; /* Add transition for opacity */
  }

