.single-entry {
  border-radius: 10px;
  width: 99%;
  border: 1px solid #ccc;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  padding: 10px;
  transition: width 0.5s;
  margin-bottom: 1px;
}

.single-entry:hover {
  width: 100%;
}

.name-entry {
  font-size: 1.5em; /* Increase font size for problem name */
  font-weight: bold;
  margin-bottom: 5px; /* Add some space below the problem name */
}

.details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tags-entry,
.submissions-entry,
.difficulty-level {
  white-space: nowrap;
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 5px; /* Add some space between items */
}


.tags-entry {
  background-color: rgb(239, 238, 238);
  color: #333; /* Darkened text color */
  font-size: 14px; /* Decreased font size */
  font-weight: bold; /* Increased font weight */
}

.submissions-entry {
  background-color: #e7e7e7; /* Light grey background */
  font-weight: bold; /* Increased font weight */
  color: #333; /* Darkened text color */
}

.difficulty-level {
  font-weight: bold;
}

.action {
  margin-left: auto; /* Push the solve button to the right */
}

.solve-button {
  font-size: 17px;
  color: grey;
  cursor: pointer;
  color: rgb(156, 23, 85);
  transition: color 0.5s;
}

.solve-button:hover {
  color: rgb(19, 125, 117);
}

/* Difficulty level colors */
.difficulty-level.basic-difficulty {
  background-color: #fdf0d5;
}

.difficulty-level.easy-difficulty {
  background-color: #78d0aa;
}

.difficulty-level.medium-difficulty {
  background-color: #eb5e55;
}

.difficulty-level.hard-difficulty {
  background-color: #e56881;
}
