.container-auth-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0.7px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    margin: 0 auto;
    margin-top: 50px;
  }
  
  .auth-label {
    font-size: 18px;
    margin-bottom: 8px;
  }
  
  .entry-auth {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 15px;
  }
  
  .sub-btn {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .sub-btn:hover {
    background-color: #0056b3;
  }
  
  .error {
    color: red;
    font-size: 14px;
    margin-top: 4px;
  }
  
  

  .log_title {
    text-align: center;
    margin-top: 80px;
    font-size: 40px;
    color: #4a4e69; 
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1px; 
    text-transform: uppercase; 
    font-weight: bold; 
  }
  
  .new_user{
    text-align: center;
    margin-top:10px ;
  }

  
  .new_user_hai_kya{
    /* font-size: large; */
  }

  .go_to_signup{
    color: red;
    cursor: pointer;
    font-weight: 600;
    font-style: italic;
    letter-spacing: 1px;
  }



  .home_icon {
    position: fixed;
    top: 20px;
    right: 20px;
    cursor: pointer;
    transition: height 0.4s;
    padding:5px;
    
  }


  
  .home_image {
    width: 50px; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
    transition: height 0.4s;

  }

  
  