.upload{
    margin-top:20px;
    /* text-align: center; */
    padding-top: 20px;
    /* margin-left: 20px; */
    background-color:rgb(246, 246, 246);
}
.upload input{
    margin-top:10px;
    /* text-align: center; */
    /* margin-left: 20px; */
    }
    
    .upload_heading{
        font-weight: 600;
        margin-left: 10px;
    letter-spacing: 1px;
}
